body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;

  background: #2f2e41;
  min-height: 100vh;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h1 {
  margin: 0 auto 2.8rem;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  text-align: right;
  color: white;
}

h1 span {
  color: #00bfa6;
}

p {
  font-weight: 300;
  line-height: 1.75rem;
  color: #c2c2c2;
}

p strong {
  font-weight: 700;
}

p span {
  color: #00bfa6;
  font-weight: 700;
}

.page {
  max-width: 1092px;
  margin: 0 auto;
  padding-top: 4.4375rem;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 6.3125rem;
}

#menu-items {
  display: flex;
  list-style: none;
  gap: 4rem;

  margin: 0;
  padding: 0;
}

.menu-item {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
}

.menu-item:hover a {
  color: #00bfa6;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.container {
  display: flex;
  margin-bottom: 9.8125rem;
}

.image {
  margin-right: 4.8125rem;
}

.text {
  text-align: center;
}

.text p + p {
  margin-top: 2rem;
}

.line {
  width: 35.5rem;
  height: 0;

  border: 1px solid #00bfa6;
  margin: auto;
}

footer {
  margin: 1.6875rem 0 1.6875rem;
  text-align: center;

  font-family: "JetBrains Mono", sans-serif;
  color: #ffffff;
}

#padlock {
  position: fixed;
  bottom: 1.25rem;
  left: 1.25rem;
}
